
body {
  font-family: 'Noto Serif', serif;
  font-size: 16px;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

#hero h1 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px green solid;
}

.simpler {
  font-weight: 700;
}

h1 {
  border-bottom: 2px red dotted;
  /* padding: top right bottom left;*/
  /* padding: 10px 5px 10px 5px;*/
  /* padding: 10px 0px; */
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  width: 20%;
}

img {
  width: 600px;
}

header {
  background-color: navy;
  padding: 25px;

}

.main_nav li {
  color: white;
  display: inline;
  float: left;
}
